<div class="padding-global padding-section-small"><div class="container-large"><div class="w-dyn-list"><div role="list" class="blog_list w-dyn-items">{% for article in blog.articles %}    <div li-for="article in blog.articles" role="listitem" class="w-dyn-item">
                                    
                            <a li-object:href="article.url" href="{{ article.url }}" class="blog_item-grid w-inline-block"><div id="w-node-c45bff24-6242-fee4-5061-f2f14b06a7be-4b06a7bd" class="blog_tags-wrapper"><img src="{{ article.image | img_url: 'master' }}" loading="lazy" id="w-node-c45bff24-6242-fee4-5061-f2f14b06a7bf-4b06a7bd" li-object:src="article.image | img_url: 'master'" alt="{{ article.image.alt }}" li-object:alt="article.image.alt" class="blog_img">
<div class="blog_tags">{% for tags in article.tags %}    <div li-for="tags in article.tags" class="hide">
                                    
                            <div li-object="tag" class="blog_tag">{{ tag }}</div>
                            
                        </div>
{% endfor %}</div></div><div id="w-node-_6b97875b-5fce-9f5a-43fd-5792b69faf23-4b06a7bd" class="spacer-small"></div><div class="blog_info-wrapper"><h3 li-object="article.title" class="heading-style-h3">{{ article.title }}</h3></div></a>
                            
                        </div>
{% endfor %}</div><div class="w-dyn-empty"><div>No items found.</div></div></div></div></div> {% schema %} {"tag":"section","name":"blog_articles","class":"section_blog-list","presets":[{"name":"blog_articles","category":"Liquify"}]} {% endschema %}