<div class="header_background-image-wrapper"><div class="header_overlay-layer"></div><img class="header_background-image"
     src="{{ section.settings.image_image | img_url: 'master' }}"
     alt="{{ section.settings.image_image.alt }}"
     loading="lazy">
</div><div class="padding-global"><div class="container-large"><div class="header_card"><div class="max-width-large"><h1 class="text-color-white">
{{ section.settings.text_headline }}
</h1>
<div class="spacer-small"></div><div class="text-size-medium text-color-white"> {{ section.settings.richtext_text }} </div>
</div><div class="spacer-medium"></div><div class="button-group"><a class="button w-button" href="{{ section.settings.url_button_link }}"> {{ section.settings.text_button_text }} </a>
</div></div></div></div> {% schema %} {"tag":"header","name":"hero","class":"section_header-home","settings":[{"id":"image_image","type":"image_picker","label":"Image"},{"id":"text_headline","type":"text","label":"Headline","default":"Short heading here"},{"id":"richtext_text","type":"richtext","label":"Text","default":"<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.<\/p>"},{"id":"url_button_link","type":"url","label":"Button-Link"},{"id":"text_button_text","type":"text","label":"Button-Text","default":"More Information"}],"presets":[{"name":"hero","category":"Liquify"}]} {% endschema %}