<div class="padding-global padding-section-medium"><div class="container-large"><div class="max-width-large"><h2 class="heading-style-h2">
{{ section.settings.text_headline }}
</h2>
</div><div class="spacer-large"></div><div class="mehr_component"><div class="mehr_list-wrapper w-dyn-list"><div role="list" class="mehr_liste w-dyn-items">{% for block in section.blocks %}
    {% if block.type == "block" %}
                    <div li-block="Block" role="listitem" class="mehr_item w-dyn-item">
                                    <a class="mehr_image-link w-inline-block" href="{{ block.settings.url_link }}"> <div class="mehr_image-wrapper"><h3 class="heading-style-h3 z-index-1 text-color-white">{{ block.settings.text_titel }}</h3><img class="mehr_image" src="{{ block.settings.image_bild | img_url: 'master' }}" alt="{{ block.settings.image_bild.alt }}" loading="lazy"><div class="mehr_overlay"></div></div> </a>

                            </div>
            {% endif %}
{% endfor %}
</div><div class="hide w-dyn-empty"><div>No items found.</div></div></div></div></div></div> {% schema %} {"tag":"section","name":"links","class":"section_mehr background-color-grey","blocks":[{"name":"Block","type":"block","settings":[{"id":"url_link","type":"url","label":"Link"},{"id":"text_titel","type":"text","label":"Titel","default":"Bestselling"},{"id":"image_bild","type":"image_picker","label":"Bild"}]}],"settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Short heading here"}],"presets":[{"name":"links","category":"Liquify"}]} {% endschema %}