<div class="padding-global padding-section-large"><div class="container-large"><div class="hero_grid"><div class="hero_content"><h1 class="hero_heading">
{{ section.settings.text_headline }}
</h1>
<p class="text-size-medium">
{{ section.settings.text_description }}
</p>
<div id="w-node-_2c4ba0ea-0f79-4e5f-9fb0-0dd93fb06cfc-434dafc9" class="margin-top margin-medium"><a class="button w-button" href="{{ section.settings.url_link }}"> {{ section.settings.text_button_text }} </a>
</div></div><img class="hero_image"
     src="{{ section.settings.image_banner | img_url: 'master' }}"
     alt="{{ section.settings.image_banner.alt }}"
     loading="lazy">
</div></div></div> {% schema %} {"tag":"section","name":"liquify_hero","class":"section_li-hero","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Liquify official Starter Template 1.0"},{"id":"text_description","type":"text","label":"Description","default":"This template is a perfect starting point for your Shopify store, including everything you need to get your online shop up and running. It is based on the latest <a href=\"http:\/\/finsweet.com\/client-first\/docs\">Client First<\/a> Clonable."},{"id":"url_link","type":"url","label":"Link"},{"id":"text_button_text","type":"text","label":"Button text","default":"Read the Docs"},{"id":"image_banner","type":"image_picker","label":"Banner"}],"presets":[{"name":"liquify_hero","category":"Liquify"}]} {% endschema %}