<div class="padding-global padding-section-small"><div class="container-large"><div class="cart_grid-wrapper"><div class="cart_table outline-solid-1"><div class="cart_grid is-header is-order"><div id="w-node-bcd6f150-7844-1b66-d054-ab3db8f0208e-434db038" class="text-size-regular">Name</div><div id="w-node-bcd6f150-7844-1b66-d054-ab3db8f02090-434db038" class="text-size-regular">Quantity</div><div id="w-node-bcd6f150-7844-1b66-d054-ab3db8f02092-434db038" class="text-size-regular hide-mobile-portrait">Price</div><div id="w-node-bcd6f150-7844-1b66-d054-ab3db8f02094-434db038" class="text-size-regular">Sum</div></div>{% for item in order.line_items %}    <div li-for="item in order.line_items" class="cart_grid is-order">
                                    
                            <div li-object="item.product.title" id="w-node-_7da89c9c-ec63-34c8-86ac-403c453b6962-434db038" class="text-size-regular">{{ item.product.title }}</div>
                            
                            <div li-object="item.quantity" id="w-node-_7da89c9c-ec63-34c8-86ac-403c453b6964-434db038" class="text-size-regular">{{ item.quantity }}</div>
                            
                            <div li-object="item.unit_price" id="w-node-_7da89c9c-ec63-34c8-86ac-403c453b6966-434db038" class="text-size-regular hide-mobile-portrait">{{ item.unit_price }}</div>
                            
                            <div li-object="item.final_line_price | money" id="w-node-_7da89c9c-ec63-34c8-86ac-403c453b6968-434db038" class="text-size-regular">{{ item.final_line_price | money }}</div>
                            
                        </div>
{% endfor %}<div><div class="order_line"><div class="text-size-regular">Subtotal</div><div li-object="order.subtotal_price | money">{{ order.subtotal_price | money }}</div></div>{% for line_item in order.line_items %}    <div li-for="line_item in order.line_items">
                                    
                            {% for discount in line_item.discount_allocations %}    <div li-for="discount in line_item.discount_allocations" class="order_line">
                                    
                            <div li-object="discount.discount_application.title" class="text-size-regular">{{ discount.discount_application.title }}</div>
                            
                            <div li-object="discount.amount | money">{{ discount.amount | money }}</div>
                            
                        </div>
{% endfor %}
                            
                        </div>
{% endfor %}{% for shipping_line in order.shipping_lines %}    <div li-for="shipping_line in order.shipping_lines" class="order_line">
                                    
                            <div li-object="shipping_line.title" class="text-size-regular">{{ shipping_line.title }}</div>
                            
                            <div li-object="shipping_line.price | money" class="text-size-regular">{{ shipping_line.price | money }}</div>
                            
                        </div>
{% endfor %}{% for tax_line in order.tax_lines %}    <div li-for="tax_line in order.tax_lines" class="order_line">
                                    
                            <div class="display-inlineflex"><div li-object="tax_line.title" class="text-size-regular">{{ tax_line.title }}</div><div class="text-size-regular">(<span li:object="tax_line.rate | times: 100">19</span>)</div></div>
                            
                            <div li-object="tax_line.price | money" class="text-size-regular">{{ tax_line.price | money }}</div>
                            
                        </div>
{% endfor %}<div class="order_line"><div>Sum</div><div li-object="order.total_price | money">{{ order.total_price | money }}</div></div></div></div><div id="w-node-bcd6f150-7844-1b66-d054-ab3db8f020bd-434db038" class="cart_table outline-solid-1"><div class="cart_grid is-header"><div id="w-node-bcd6f150-7844-1b66-d054-ab3db8f020bf-434db038" class="cart_table-header"><div class="text-size-regular">Customer Information</div></div></div><div class="addresses_account-wrapper content-grid"><div><div li-object="order.name" class="text-size-regular">{{ order.name }}</div><div li-object="order.created_at | date: '%e.%m.%Y'" class="text-size-regular">{{ order.created_at | date: '%e.%m.%Y' }}</div>{% if order.cancelled == true %}    <div li-if="order.cancelled == true" class="order_wrapper">
    <div class="text-size-regular">Canceled at: </div><div li-object="order.cancelled_at | date: '%e.%m.%Y'" class="text-size-regular">{{ order.cancelled_at | date: '%e.%m.%Y' }}</div>    </div>
{% endif %}<div liquid:if="order.cancelled == true" class="order_wrapper"><div class="text-size-regular">Reason: </div><div li-object="order.cancel_reason_label" class="text-size-regular">{{ order.cancel_reason_label }}</div></div></div><div><div class="text-size-regular">Billing Address:</div><div li-object="order.billing_address | format_address" class="text-size-regular">{{ order.billing_address | format_address }}</div></div><div><div class="text-size-regular">Shipping Address:</div><div li-object="order.shipping_address | format_address" class="text-size-regular">{{ order.shipping_address | format_address }}</div></div></div></div></div></div></div> {% schema %} {"tag":"section","name":"order","class":"section_account","presets":[{"name":"order","category":"Liquify"}]} {% endschema %}