<div class="padding-global padding-section-medium"><div class="container-large"><div><div class="filter_headline"><h1 li-object="search.terms | escape " class="heading-style-h2">{{ search.terms | escape  }}</h1></div><div class="spacer-large"></div></div><div class="filter_layout"><div id="w-node-_678e0483-bbe4-e79a-1722-b169c587feae-c587feae" class="filter_filters-wrapper"><form action="{{ routes.search_url }}" method="get" role="search" class="filter_form_component"><div id="w-node-_265c4342-3d21-e8bf-dfee-efec035c3507-c587feae" class="filter_form"><div id="w-node-_678e0483-bbe4-e79a-1722-b169c587feb1-c587feae" class="filter_form-header"><div class="filter_heading">Filters</div><a li-object:href="collection.url" href="{{ collection.url }}" class="button is-link hide-tablet w-inline-block"><div>Clear all</div></a></div><div class="filter_results-wrapper"><div class="filter_results-text">Showing <span li-object="collection.all_products_count | append: ' '">{{ collection.all_products_count | append: ' ' }}</span>Products<span fs-cmsfilter-element="items-count"></span></div></div><div class="filter_form-field-wrapper"><input name="type" type="hidden" class="form-input" value="product">
<input name="q" placeholder="Suche" type="search" class="form-input" value="{{ search.terms | escape }}">
</div><div class="filter_scroll-wrapper"><div class="filter_filter-group-list">{% for filter in search.filters %}    <div li-for="filter in search.filters" class="filter_filter-group">
                                    
                            {% if filter.values.size > 1 %}    <div li-if="filter.values.size > 1">
    <div class="filter_filter-group-heading"><div li-object="filter.label" class="text-size-medium text-weight-semibold">{{ filter.label }}</div></div><div class="filter_filter-options"><div class="filter_list-wrapper"><div class="filter_list">{% for filter_value in filter.values %}    <div li-for="filter_value in filter.values" class="filter_item">
                                    
                            <a href="{% if filter_value.active %}{{ filter_value.url_to_remove }}{% else %}{{ filter_value.url_to_add }}{% endif %}" class="{% if filter_value.count == 0 and filter_value.active == false %}filter_form_checkbox is-disabled{% else %}filter_form_checkbox{% endif %}"><div class="{% if filter_value.active %}filter_form_checkbox-icon is-checked{% else %}filter_form_checkbox-icon{% endif %}"></div><div class="filter_form_checkbox-label"><span li-object="filter_value.label | append: ' '">{{ filter_value.label | append: ' ' }}</span>(<span li-object="filter_value.count">{{ filter_value.count }}</span>)</div></a>
                            
                        </div>
{% endfor %}</div></div></div>    </div>
{% endif %}
                            
                        </div>
{% endfor %}</div></div></div></form><a data-w-id="678e0483-bbe4-e79a-1722-b169c587fede" href="#" class="filter_tablet-modal-close-button w-inline-block"><img src="https://uploads-ssl.webflow.com/624380709031623bfe4aee60/624380709031623afe4aee7e_icon_close-modal.svg" alt="" class="icon-1x1-small">
</a></div><a data-w-id="18b99dbe-6ff4-693a-5d15-824c10ee554b" href="#" class="filter_tablet-filters-button w-inline-block"><img alt="" loading="lazy" src="https://uploads-ssl.webflow.com/624380709031623bfe4aee60/62942b9f00484cf074e6f851_icon-filters.svg" class="button-icon-left">
<div>Filters</div></a><div id="w-node-_18b99dbe-6ff4-693a-5d15-824c10ee554f-434db04f" class="filter_feed"><div class="filter_feed-header"><div class="filter_tags-wrapper">{% for filters in search.filters %}    <div li-for="filters in search.filters" class="filter_tags-inner-wrapper">
                                    
                            {% for filter_value in filters.active_values %}    <div li-for="filter_value in filters.active_values" class="filter_tag">
                                    
                            <div li-object="filter_value.label">{{ filter_value.label }}</div>
                            
                            <a li-object:href="filter_value.url_to_remove" href="{{ filter_value.url_to_remove }}" class="w-inline-block"><div class="filter_close-icon-2 w-embed"><svg width="100%" height="100%" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.1266 16.773L16.7729 17.1266C16.5777 17.3218 16.2611 17.3218 16.0658 17.1266L12 13.0607L7.9341 17.1265C7.73888 17.3218 7.42229 17.3218 7.22702 17.1265L6.87347 16.773C6.6782 16.5777 6.6782 16.2612 6.87347 16.0659L10.9394 12L6.87347 7.93413C6.6782 7.73891 6.6782 7.42232 6.87347 7.22705L7.22702 6.8735C7.42228 6.67824 7.73888 6.67824 7.9341 6.8735L12 10.9394L16.0658 6.8735C16.2611 6.67824 16.5777 6.67824 16.7729 6.8735L17.1266 7.22705C17.3218 7.42231 17.3218 7.73891 17.1266 7.93413L13.0607 12L17.1266 16.0659C17.3218 16.2612 17.3218 16.5777 17.1266 16.773Z" fill="currentColor"></path></svg></div></a>
                            
                        </div>
{% endfor %}
                            
                        </div>
{% endfor %}</div><select id="sort-by" li-for:inside="option in collection.sort_options" class="sort_select filter_checkbox">
        {% for option in collection.sort_options %}                            
                            <option value="{{ option.value }}" {% if option.value == collection.sort_by %}selected{% elsif option.value == collection.default_sort_by %}selected{% endif %}>{{ option.name }}</option>
                            
                    {% endfor %}    </select>
</div><div class="w-dyn-list"><div role="list" class="filter_product-list w-dyn-items">{% for product in collection.products %}    <div li-for="product in collection.products" role="listitem" class="w-dyn-item">
                                    
                            {% render 'product_item', product: product %}

                            
                        </div>
{% endfor %}</div>{% if collection.products == blank %}    <div li-if="collection.products == blank" class="filter_empty w-dyn-empty">
    <div class="heading-style-h6">No results found.</div><div class="spacer-xxsmall"></div><div>There are no results with this criteria. Try changing your search.</div>    </div>
{% endif %}</div>{% if paginate.pages > 1 %}    <nav li-if="paginate.pages > 1" class="pagination_component">
    <ul role="list" class="pagination_list w-list-unstyled">{% if paginate.previous %}    <li li-if="paginate.previous" class="pagination_item">
    <a li-object:href="paginate.previous.url" href="{{ paginate.previous.url }}" class="button is-secondary is-icon w-inline-block"><div class="pagination_arrow w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 13 8" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M1.67318 0.589844L6.26318 5.16984L10.8532 0.589844L12.2632 1.99984L6.26318 7.99984L0.263184 1.99984L1.67318 0.589844Z" fill="currentColor"></path></svg></div><div>Back</div></a>    </li>
{% endif %}{% if paginate.previous == false %}    <li li-if="paginate.previous == false" class="pagination_item">
    <a li-object:href="paginate.previous.url" href="{{ paginate.previous.url }}" class="button is-secondary is-icon text-style-muted pointer-events-off w-inline-block"><div class="pagination_arrow w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 13 8" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M1.67318 0.589844L6.26318 5.16984L10.8532 0.589844L12.2632 1.99984L6.26318 7.99984L0.263184 1.99984L1.67318 0.589844Z" fill="currentColor"></path></svg></div><div>Back</div></a>    </li>
{% endif %}{% for part in paginate.parts %}    <li li-for="part in paginate.parts" class="pagination_item">
                                    
                            {% if part.is_link %}    <div li-if="part.is_link">
    <a li-object:href="part.url" href="{{ part.url }}" class="pagination_count w-inline-block"><div li-object="part.title" class="text-style-link">{{ part.title }}</div></a>    </div>
{% endif %}
                            
                            {% if part.is_link == false %}    <div li-if="part.is_link == false">
    {% if part.is_link != true %}    <div li-if="part.is_link != true">
    <div><div li-object="part.title" class="{% if part.title == paginate.current_page %}text-weight-semibold{% endif %}">{{ part.title }}</div></div>    </div>
{% endif %}    </div>
{% endif %}
                            
                        </li>
{% endfor %}{% if paginate.next == false %}    <li li-if="paginate.next == false" class="pagination_item">
    <a li-object:href="paginate.next.url" href="{{ paginate.next.url }}" class="button is-secondary is-icon text-style-muted pointer-events-off w-inline-block"><div>Next</div><div class="pagination_arrow is-right w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 13 8" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M1.67318 0.589844L6.26318 5.16984L10.8532 0.589844L12.2632 1.99984L6.26318 7.99984L0.263184 1.99984L1.67318 0.589844Z" fill="currentColor"></path></svg></div></a>    </li>
{% endif %}{% if paginate.next %}    <li li-if="paginate.next" class="pagination_item">
    <a li-object:href="paginate.next.url" href="{{ paginate.next.url }}" class="button is-secondary is-icon w-inline-block"><div>Next</div><div class="pagination_arrow is-right w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 13 8" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"><path d="M1.67318 0.589844L6.26318 5.16984L10.8532 0.589844L12.2632 1.99984L6.26318 7.99984L0.263184 1.99984L1.67318 0.589844Z" fill="currentColor"></path></svg></div></a>    </li>
{% endif %}</ul>    </nav>
{% endif %}</div></div></div></div> {% schema %} {"tag":"section","name":"search","class":"section_filters","presets":[{"name":"search","category":"Liquify"}]} {% endschema %}